<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Common.Logging" version="2.2.0" targetFramework="net40" />
  <package id="Common.Logging.Core" version="2.2.0" targetFramework="net40" />
  <package id="Common.Logging.NLog20" version="2.2.0" targetFramework="net40" />
  <package id="EntityFramework" version="6.1.1" targetFramework="net45" />
  <package id="Microsoft.AspNet.OData" version="5.3.1" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.2" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.2" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="5.2.2" targetFramework="net45" />
  <package id="Microsoft.OData.Core" version="6.9.0" targetFramework="net45" />
  <package id="Microsoft.OData.Edm" version="6.9.0" targetFramework="net45" />
  <package id="Microsoft.Spatial" version="6.9.0" targetFramework="net45" />
  <package id="MiniProfiler" version="3.1.1.140" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="6.0.6" targetFramework="net45" />
  <package id="NLog" version="3.1.0.0" targetFramework="net45" />
</packages>