@{
    ViewBag.Title = "主页";
}
@section HeaderScripts {
    <script type="text/javascript">
        require(["magicodes"], function () {
            magicodes.getModule('navs');
        });
    </script>
}
<div id="navbar" class="navbar navbar-default" style="margin-bottom: 0px;">
    <div class="navbar-container" id="navbar-container">
        <button type="button" class="navbar-toggle menu-toggler pull-left" id="menu-toggler">
            <span class="sr-only">Toggle sidebar</span>

            <span class="icon-bar"></span>

            <span class="icon-bar"></span>

            <span class="icon-bar"></span>
        </button>

        <div class="navbar-header pull-left">
            <a href="#" class="navbar-brand">
                <small>
                    <i class="fa fa-leaf"></i>
                    @ViewBag.SiteInfo.SiteName
                </small>
            </a>
        </div>
        <div class="navbar-buttons navbar-header pull-right" role="navigation">
            <ul class="nav ace-nav">
                @Html.Partial("_LoginPartial")
            </ul>
        </div>
    </div>
    <!-- /.navbar-container -->
</div>
<div class="main-container" id="main-container">
    <div id="sidebar" class="sidebar responsive">
        <div class="sidebar-shortcuts" id="sidebar-shortcuts">
            <div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">
                <button class="btn btn-success">
                    <i class="ace-icon fa fa-signal"></i>
                </button>

                <button class="btn btn-info">
                    <i class="ace-icon fa fa-pencil"></i>
                </button>

                <button class="btn btn-warning">
                    <i class="ace-icon fa fa-users"></i>
                </button>

                <button class="btn btn-danger">
                    <i class="ace-icon fa fa-cogs"></i>
                </button>
            </div>

            <div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
                <span class="btn btn-success"></span>

                <span class="btn btn-info"></span>

                <span class="btn btn-warning"></span>

                <span class="btn btn-danger"></span>
            </div>
        </div>
        <!-- /.sidebar-shortcuts -->
        <script id="navsTemplate" type="text/html">
            <li data-bind="css: { 'hsub': typeof (children) !== 'undefined', 'active': typeof (_active) !== 'undefined' && _active ,'open': typeof (_open) !== 'undefined' && _open}">
                <a data-bind="attr: { href: Href.length > 0 ? Href : 'javascript:void(0);', target: typeof (children) !== 'undefined' ? '' : 'mainContent',id:Id }, css: typeof (children) !== 'undefined' ? 'dropdown-toggle' : '', click: $root.open">
                    <i class="menu-icon " data-bind="css: IconCls"></i>
                    <span class="menu-text" data-bind="css: TextCls">
                        <span data-bind="text: Text"></span>
                        <!-- ko if: MenuBadgeType == 0 && typeof(children) !=="undefined" -->
                        <span class="badge badge-primary" data-bind="text: children.length"></span>
                        <!-- /ko -->
                    </span>
                    <b data-bind="css: typeof (children) !== 'undefined' ? 'arrow fa fa-angle-down' : ''"></b>
                </a>
                <b class="arrow"></b>
                <!-- ko if: typeof(children)!=="undefined" -->
                <ul class="submenu" data-bind="template: { name: 'navsTemplate', foreach: children }"></ul>
                <!-- /ko -->
            </li>
        </script>
        <ul class="nav nav-list" style="top: 0px;" data-bind="template: { name: 'navsTemplate', foreach: menus }"></ul>
        <!-- /.nav-list -->
        <div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
            <i class="ace-icon fa fa-angle-double-left" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
        </div>
    </div>
    <div class="main-content">
        <div class="breadcrumbs" id="breadcrumbs" style="height: 41px;">
            <script id="breadcrumbTemplate" type="text/html">
                <li data-bind="css: { 'active': $index == 0 }">
                    <i class="menu-icon " data-bind="    css: IconCls"></i>
                    <span class="menu-text" data-bind="    css: TextCls, text: Text">
                        <!-- ko if: MenuBadgeType == 0 && typeof(children) !=="undefined" -->
                        <span class="badge badge-primary" data-bind="text: children.length"></span>
                        <!-- /ko -->
                    </span>
                </li>
            </script>
            <ul class="breadcrumb" data-bind="template: { name: 'breadcrumbTemplate', foreach: breadcrumbs }"></ul>
            <!-- /.breadcrumb -->

            <div class="nav-search" id="nav-search">
                <form class="form-search">
                    <span class="input-icon">
                        <input type="text" placeholder="搜索 ..." class="nav-search-input" id="nav-search-input" autocomplete="off">
                        <i class="ace-icon fa fa-search nav-search-icon"></i>
                    </span>
                </form>
            </div>
            <!-- /.nav-search -->
        </div>
        <div class="page-content">
            <div class="row">
                <div class="col-xs-12">
                    <iframe style="width: 100%; border: 0 none;" frameborder="0" id="mainContent" name="mainContent">
                        <p>您的浏览器不支持 iframe。</p>
                    </iframe>
                    <div>
                    </div>
                </div>
            </div>
            @*<div class="footer">
                    <div class="footer-inner">
                        <div class="footer-content">
                            <span class="bigger-120">
                                <span class="blue bolder"></span>
                                © 2014
                            </span>
                        </div>
                    </div>
                </div>*@
            <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
                <i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
            </a>
        </div>
    </div>
</div>
@Html.Partial("_SignalRPartial")