<?xml version="1.0"?>
<AccountAuthenticationInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <UpdateTime>2014-12-18T12:12:36.4181491+08:00</UpdateTime>
  <AccountConfigInfoList>
    <AccountConfigInfo>
      <Id>101164591</Id>
      <Secret>34f4c544ff18b6bad110a6678abe8b37</Secret>
      <AccountType>QQ</AccountType>
      <Enable>true</Enable>
    </AccountConfigInfo>
    <AccountConfigInfo>
      <Id>000000004012FD4C</Id>
      <Secret>TG1NorD3Ub4l5T7U3ocXD15p4sakivM8</Secret>
      <AccountType>Microsoft</AccountType>
      <Enable>true</Enable>
    </AccountConfigInfo>
  </AccountConfigInfoList>
</AccountAuthenticationInfo>