<?xml version="1.0"?>
<AccountAuthenticationInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <UpdateTime>2014-12-18T12:12:36.4181491+08:00</UpdateTime>
  <AccountConfigInfoList>
    <AccountConfigInfo>
      <Id>Test</Id>
      <Secret>Test</Secret>
      <AccountType>QQ</AccountType>
      <Enable>true</Enable>
    </AccountConfigInfo>
    <AccountConfigInfo>
      <Id>Test</Id>
      <Secret>Test</Secret>
      <AccountType>Microsoft</AccountType>
      <Enable>true</Enable>
    </AccountConfigInfo>
  </AccountConfigInfoList>
</AccountAuthenticationInfo>