<?xml version="1.0"?>
<MailConfigInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <UpdateTime>2014-10-25T00:41:40.7726501+08:00</UpdateTime>
  <SmtpServer>192.168.1.1</SmtpServer>
  <SmtpPort>25</SmtpPort>
  <EnableSsl>false</EnableSsl>
  <MailFrom>admin@admin.com</MailFrom>
</MailConfigInfo>