<?xml version="1.0"?>
<MailConfigInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <UpdateTime>2014-10-25T00:41:40.7726501+08:00</UpdateTime>
  <SmtpServer>smtp-mail.outlook.com</SmtpServer>
  <SmtpPort>587</SmtpPort>
  <EnableSsl>true</EnableSsl>
  <MailFrom>magicodes@outlook.com</MailFrom>
  <FromNickName>Magicodes.NET团队</FromNickName>
  <UserName>magicodes@outlook.com</UserName>
  <Password>Qq512982554</Password>
</MailConfigInfo>