<?xml version="1.0"?>
<SiteConfigInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <UpdateTime>2015-01-05T13:42:03.7209442+08:00</UpdateTime>
  <SiteName>Magicodes.NET平台</SiteName>
  <SiteUrl>http://www.magicodes.net/</SiteUrl>
  <SiteTitle>Magicodes.NET - 前后端插件快速开发框架</SiteTitle>
  <SiteDefaultUrl />
  <SEOKeyword>Magicodes.NET,Magicodes,快速开发框架</SEOKeyword>
  <SEODescription>Magicodes.NET框架是一套插件框架，以方便中间件的选择、组装和集成</SEODescription>
  <ICP>未知</ICP>
  <HeadHtmlOrScripts />
  <FootHtmlOrScripts />
  <IsShowLicensed>true</IsShowLicensed>
  <IsSupportMobile>true</IsSupportMobile>
  <DefaultTheme />
  <IsCloseSite>false</IsCloseSite>
  <CloseSiteMessage />
</SiteConfigInfo>