@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@section HeaderScripts{
    <script type="text/javascript">
        require(["magicodes", "ueditor.all"], function (magicodes, ueditor) {

        });
    </script>
}