@{
    ViewBag.Title = "站点信息配置";
}
@section HeaderScripts {
   <script type="text/javascript">
       require(["magicodes"], function () {
           var mForm = new magicodes.form({
               api: '/api/config/SiteConfigInfo',
               onloaded: function () {
                   require(["jq.autosize"], function () {
                       $('textarea[class*=autosize]').autosize({ append: "\n" });
                   });
                   require(["jq.inputlimiter"], function () {
                       $('textarea.limited').inputlimiter({
                           remText: '您还可以输入 %n 字符%s ...',
                           limitText: '最大允许字符数： %n。'
                       });
                   });
                   var scrollHeight = $(document).height() - 400;
                   $('.scrollable').ace_scroll({
                       size: scrollHeight
                   });
               }
           });
           mForm.bindingModel();
       });
</script>
}
<form>
    <div class="main-container" id="main-container">
        <div>
            <div class="page-content">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 widget-container-col ui-sortable">
                        <div class="widget-box">
                            <div class="widget-header ui-sortable-handle">
                                <h5 class="widget-title">站点信息配置</h5>
                            </div>
                            <div class="widget-body">
                                <div class="widget-main">
                                    <div class="scrollable" data-height="500" data-bind="if: formData != null">
                                        <div class="form-horizontal" id="editForm" role="form" data-bind="with: formData">
                                            <div class="space-2"></div>
                                            <div class="form-group">
                                                <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="SiteName">站点名称：</label>

                                                <div class="col-xs-12 col-sm-9">
                                                    <div class="clearfix">
                                                        <input type="text" name="SiteName" id="SiteName" data-bind="value: SiteName" placeholder="站点名称：" class="col-xs-12 col-sm-6" required   />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="space-2"></div>
                                            <div class="form-group">
                                                <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="SiteUrl">网站网址：</label>

                                                <div class="col-xs-12 col-sm-9">
                                                    <div class="clearfix">
                                                        <input type="text" name="SiteUrl" id="SiteUrl" data-bind="value: SiteUrl" placeholder="网站网址：" class="col-xs-12 col-sm-6"    />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="space-2"></div>
                                            <div class="form-group">
                                                <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="SiteTitle">网站标题：</label>

                                                <div class="col-xs-12 col-sm-9">
                                                    <div class="clearfix">
                                                        <input type="text" name="SiteTitle" id="SiteTitle" data-bind="value: SiteTitle" placeholder="网站标题：" class="col-xs-12 col-sm-6"    />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="space-2"></div>
                                            <div class="form-group">
                                                <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="SEOKeyword">SEO关键字：</label>

                                                <div class="col-xs-12 col-sm-9">
                                                    <div class="clearfix">
                                                        <textarea name="SEOKeyword" id="SEOKeyword" placeholder="SEO关键字" data-bind="value: SEOKeyword" class="col-xs-12 col-sm-6 limited autosize-transition" maxlength="4000" ></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="space-2"></div>
                                            <div class="form-group">
                                                <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="SEODescription">SEO关键字：</label>

                                                <div class="col-xs-12 col-sm-9">
                                                    <div class="clearfix">
                                                        <textarea name="SEODescription" id="SEODescription" placeholder="SEO关键字" data-bind="value: SEODescription" class="col-xs-12 col-sm-6 limited autosize-transition" maxlength="4000" ></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="space-2"></div>
                                            <div class="form-group">
                                                <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="ICP">备案编号：</label>

                                                <div class="col-xs-12 col-sm-9">
                                                    <div class="clearfix">
                                                        <input type="text" name="ICP" id="ICP" data-bind="value: ICP" placeholder="备案编号：" class="col-xs-12 col-sm-6"    />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="space-2"></div>
                                            <div class="form-group">
                                                <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="HeadHtmlOrScripts">顶部代码：</label>

                                                <div class="col-xs-12 col-sm-9">
                                                    <div class="clearfix">
                                                        <textarea name="HeadHtmlOrScripts" id="HeadHtmlOrScripts" placeholder="顶部代码" data-bind="value: HeadHtmlOrScripts" class="col-xs-12 col-sm-6 limited autosize-transition" maxlength="4000" ></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="space-2"></div>
                                            <div class="form-group">
                                                <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="FootHtmlOrScripts">底部代码：</label>

                                                <div class="col-xs-12 col-sm-9">
                                                    <div class="clearfix">
                                                        <textarea name="FootHtmlOrScripts" id="FootHtmlOrScripts" placeholder="底部代码" data-bind="value: FootHtmlOrScripts" class="col-xs-12 col-sm-6 limited autosize-transition" maxlength="4000" ></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="space-2"></div>
                                            <div class="form-group">
                                                <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="IsShowLicensed">是否显示版权：</label>

                                                <div class="col-xs-12 col-sm-9">
                                                    <label class="position-relative">
                                                        <input type="checkbox" class="ace" id="IsShowLicensed" name="IsShowLicensed" data-bind="checked: IsShowLicensed" />
                                                        <span class="lbl"></span>
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="space-2"></div>
                                            <div class="form-group">
                                                <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="IsSupportMobile">是否支持手机访问：</label>

                                                <div class="col-xs-12 col-sm-9">
                                                    <label class="position-relative">
                                                        <input type="checkbox" class="ace" id="IsSupportMobile" name="IsSupportMobile" data-bind="checked: IsSupportMobile" />
                                                        <span class="lbl"></span>
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="space-2"></div>
                                            <div class="form-group">
                                                <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="DefaultTheme">默认主题：</label>

                                                <div class="col-xs-12 col-sm-9">
                                                    <div class="clearfix">
                                                        <textarea name="DefaultTheme" id="DefaultTheme" placeholder="默认主题" data-bind="value: DefaultTheme" class="col-xs-12 col-sm-6 limited autosize-transition" maxlength="4000" ></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="space-2"></div>
                                            <div class="form-group">
                                                <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="IsCloseSite">是否关闭站点：</label>

                                                <div class="col-xs-12 col-sm-9">
                                                    <label class="position-relative">
                                                        <input type="checkbox" class="ace" id="IsCloseSite" name="IsCloseSite" data-bind="checked: IsCloseSite" />
                                                        <span class="lbl"></span>
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="space-2"></div>
                                            <div class="form-group">
                                                <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="CloseSiteMessage">站点关闭信息：</label>

                                                <div class="col-xs-12 col-sm-9">
                                                    <div class="clearfix">
                                                        <textarea name="CloseSiteMessage" id="CloseSiteMessage" placeholder="站点关闭信息" data-bind="value: CloseSiteMessage" class="col-xs-12 col-sm-6 limited autosize-transition" maxlength="4000" ></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="space-2"></div>
                                            <div class="form-group">
                                                <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="AdminAccessIps">后台访问IP，以逗号分隔：</label>

                                                <div class="col-xs-12 col-sm-9">
                                                    <div class="clearfix">
                                                        <textarea name="AdminAccessIps" id="AdminAccessIps" placeholder="后台访问IP，以逗号分隔" data-bind="value: AdminAccessIps" class="col-xs-12 col-sm-6 limited autosize-transition" maxlength="4000" ></textarea>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="space-2"></div>
                                        </div>
                                    </div>
                                </div>

                                <div class="widget-toolbox padding-8 clearfix">
                                    <button class="btn btn-success pull-right" type="button" action="save" data-bind="click: save">
                                        <span class="bigger-110">保存</span>
                                        <i class="ace-icon fa fa-save icon-on-right"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
                <i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
            </a>
        </div>
    </div>
</form>
