/* ========================================
 * Magicodes.Blog theme "default" CSS
 * ver. 0.0.100
 * by taojiachun
 * ======================================== */


/* 页面背景 */

.theme-default {
  background: #fff;
}


/* topbar */

.topbar {
  background: none;
}
.top-user-search input,
.top-user-search button {
  background: rgba(51, 51, 51, 0.8);
  border-color: #666;
  color: #ccc;
  font-size: 1.2rem;
}
.top-user-search .form-control,
.top-user-search .btn-default {
  height: 22px;
  padding: 0 10px;
}


/* header */

.header {
  background: url(bg-grain2.png), #333;
  background-repeat: repeat;
/*
  background-size: cover;
  background-position: center;
*/
}
.header > h1 {
  color: #efefef;
  text-shadow: 1px 1px 0 #000;
}
.header > h1 > small {
  color: #aaa;
}


/* index */

.index-list > li:hover {
  background: rgba(239, 239, 239, 0.5);
}
.index-stick > div:hover {
  background: rgba(239, 239, 239, 0.5);
  border-top: 1px solid rgb(128, 176, 232);
}


/* common */

.common-list > li:hover {
  background: rgba(239, 239, 239, 0.5);
}


/* container */

/* 主体宽度 */
.theme-default > .container {
  width: 1080px;
  background: #fff;
}

/* 文章通用样式 */
.content {
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
}
.content h2 {
  color: #428bca;
}
.content h3 {
}
.content h4 {
  color: #333;
}
.content-comments h6 {
  color: #999;
}
.content-comments > ul > li > div > div,
.content-comments > ul > li > ul > li > div > div,
.content-comments > .content-reply > div > div {
  background: #fff;
}


/* 侧边 */

.aside .user-head {
  border: 0.4rem solid #ccc;
  border-radius: 0.4rem;
  box-shadow: 0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 1);
}
.aside > .leaf {
  background: rgba(239, 239, 239, 0.5);
}
