<?xml version="1.0" encoding="utf-8" ?>
<PlusConfigInfo>
  <AssemblyType>MVC</AssemblyType>
  <MvcPlusType>MVCAndNotRoute</MvcPlusType>
  <DocumentOpenProtocols>
    <DocumentOpenProtocol>
      <ContentType><![CDATA[application/pdf]]></ContentType>
      <ViewerUrl><![CDATA[/plus/Plugins/Magicodes.PDFViewer/Views/PDFViewer/Index.cshtml]]></ViewerUrl>
    </DocumentOpenProtocol>
  </DocumentOpenProtocols>
</PlusConfigInfo>