<?xml version="1.0" encoding="utf-8" ?>
<PlusConfigInfo>
  <AssemblyType>MVC</AssemblyType>
  <MvcPlusType>MVC</MvcPlusType>
  <DocumentOpenProtocols>
    <DocumentOpenProtocol>
      <ContentType><![CDATA[application/pdf]]></ContentType>
      <Controller><![CDATA[PDFViewer]]></Controller>
      <Action><![CDATA[Index]]></Action>
    </DocumentOpenProtocol>
  </DocumentOpenProtocols>
</PlusConfigInfo>