@{
    ViewBag.Title = "邮箱信息配置";
}
@section HeaderScripts {
   <script type="text/javascript">
       require(["magicodes"], function () {
           var mForm = new magicodes.form({
               api: '/api/config/MailConfigInfo',
               onloaded: function () {
                   require(["jq.autosize"], function () {
                       $('textarea[class*=autosize]').autosize({ append: "\n" });
                   });
                   require(["jq.inputlimiter"], function () {
                       $('textarea.limited').inputlimiter({
                           remText: '您还可以输入 %n 字符%s ...',
                           limitText: '最大允许字符数： %n。'
                       });
                   });
                   var scrollHeight = $(document).height() - 500;
                   $('.scrollable').ace_scroll({
                       size: scrollHeight
                   });
               }
           });
           mForm.bindingModel();
       });
</script>
}
<form>
    <div class="main-container" id="main-container">
        <div>
            <div class="page-content">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 widget-container-col ui-sortable">
                        <div class="widget-box">
                            <div class="widget-header ui-sortable-handle">
                                <h5 class="widget-title">邮箱信息配置</h5>
                            </div>
                            <div class="widget-body">
                                <div class="widget-main">
                                    <div class="scrollable" data-height="500" data-bind="if: formData != null">
                                        <div class="form-horizontal" id="editForm" role="form" data-bind="with: formData">
                                            <div class="space-2"></div>
                                            <div class="form-group">
                                                <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="SmtpServer">SMTP服务器：</label>

                                                <div class="col-xs-12 col-sm-9">
                                                    <div class="clearfix">
                                                        <input type="text" name="SmtpServer" id="SmtpServer" data-bind="value: SmtpServer" placeholder="SMTP服务器：" class="col-xs-12 col-sm-6" required   />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="space-2"></div>
                                            <div class="form-group">
                                                <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="SmtpPort">SMTP服务器端口：</label>

                                                <div class="col-xs-12 col-sm-9">
                                                    <div class="clearfix">
                                                        <input type="text" name="SmtpPort" id="SmtpPort" data-bind="value: SmtpPort" placeholder="SMTP服务器端口：" class="col-xs-12 col-sm-6" required   />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="space-2"></div>
                                            <div class="form-group">
                                                <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="EnableSsl">是否启用SSL验证：</label>

                                                <div class="col-xs-12 col-sm-9">
                                                    <label class="position-relative">
                                                        <input type="checkbox" class="ace" id="EnableSsl" name="EnableSsl" data-bind="checked: EnableSsl" />
                                                        <span class="lbl"></span>
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="space-2"></div>
                                            <div class="form-group">
                                                <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="MailFrom">发送邮箱：</label>

                                                <div class="col-xs-12 col-sm-9">
                                                    <div class="clearfix">
                                                        <input type="text" name="MailFrom" id="MailFrom" data-bind="value: MailFrom" placeholder="发送邮箱：" class="col-xs-12 col-sm-6" required  Email />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="space-2"></div>
                                            <div class="form-group">
                                                <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="FromNickName">邮件发送昵称：</label>

                                                <div class="col-xs-12 col-sm-9">
                                                    <div class="clearfix">
                                                        <textarea name="FromNickName" id="FromNickName" placeholder="邮件发送昵称" data-bind="value: FromNickName" class="col-xs-12 col-sm-6 limited autosize-transition" maxlength="4000" ></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="space-2"></div>
                                            <div class="form-group">
                                                <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="UserName">用户账户：</label>

                                                <div class="col-xs-12 col-sm-9">
                                                    <div class="clearfix">
                                                        <textarea name="UserName" id="UserName" placeholder="用户账户" data-bind="value: UserName" class="col-xs-12 col-sm-6 limited autosize-transition" maxlength="4000" ></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="space-2"></div>
                                            <div class="form-group">
                                                <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="Password">用户密码：</label>

                                                <div class="col-xs-12 col-sm-9">
                                                    <div class="clearfix">
                                                        <input type="password" name="Password" id="Password" data-bind="value: Password" placeholder="用户密码：" class="col-xs-12 col-sm-6"    />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="space-2"></div>
                                            <div class="form-group">
                                                <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="Domain">域：</label>

                                                <div class="col-xs-12 col-sm-9">
                                                    <div class="clearfix">
                                                        <textarea name="Domain" id="Domain" placeholder="域" data-bind="value: Domain" class="col-xs-12 col-sm-6 limited autosize-transition" maxlength="4000" ></textarea>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="space-2"></div>
                                        </div>
                                    </div>
                                </div>

                                <div class="widget-toolbox padding-8 clearfix">
                                    <button class="btn btn-success pull-right" type="button" action="save" data-bind="click: save">
                                        <span class="bigger-110">保存</span>
                                        <i class="ace-icon fa fa-save icon-on-right"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
                <i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
            </a>
        </div>
    </div>
</form>
