@{
    ViewBag.Title = "";
}
@section HeaderScripts {
   <script type="text/javascript">
       require(["magicodes"], function () {
           var mForm = new magicodes.form({
               api: '/api/config/SystemConfigInfo',
               onloaded: function () {
                   require(["jq.autosize"], function () {
                       $('textarea[class*=autosize]').autosize({ append: "\n" });
                   });
                   require(["jq.inputlimiter"], function () {
                       $('textarea.limited').inputlimiter({
                           remText: '您还可以输入 %n 字符%s ...',
                           limitText: '最大允许字符数： %n。'
                       });
                   });
                   var scrollHeight = $(document).height() - 500;
                   $('.scrollable').ace_scroll({
                       size: scrollHeight
                   });
               }
           });
           mForm.bindingModel();
       });
</script>
}
<form>
    <div class="main-container" id="main-container">
        <div>
            <div class="page-content">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 widget-container-col ui-sortable">
                        <div class="widget-box">
                            <div class="widget-header ui-sortable-handle">
                                <h5 class="widget-title"></h5>
                            </div>
                            <div class="widget-body">
                                <div class="widget-main">
                                    <div class="scrollable" data-height="500" data-bind="if: formData != null">
                                        <div class="form-horizontal" id="editForm" role="form" data-bind="with: formData">
                                            <div class="space-2"></div>
                                            <div class="form-group">
                                                <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="ApplicationMode">应用程序模式：</label>
                                                <div class="col-xs-12 col-sm-9">
                                                    <div class="clearfix">
                                                        <input type="text" name="ApplicationMode" id="ApplicationMode" data-bind="value: ApplicationMode" placeholder="应用程序模式" class="col-xs-12 col-sm-6"    />
                                                    </div>
                                                </div>
                                                
                                            </div>
                                            <div class="space-2"></div>
                                            <div class="form-group">
                                                <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="IsMinCss">是否压缩样式：</label>

                                                <div class="col-xs-12 col-sm-9">
                                                    <label class="position-relative">
                                                        <input type="checkbox" class="ace" id="IsMinCss" name="IsMinCss" data-bind="checked: IsMinCss" />
                                                        <span class="lbl"></span>
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="space-2"></div>
                                            <div class="form-group">
                                                <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="IsMinJs">是否压脚本文件：</label>

                                                <div class="col-xs-12 col-sm-9">
                                                    <label class="position-relative">
                                                        <input type="checkbox" class="ace" id="IsMinJs" name="IsMinJs" data-bind="checked: IsMinJs" />
                                                        <span class="lbl"></span>
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="space-2"></div>
                                            <div class="form-group">
                                                <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="IsSqlTrace">是否进行SQl跟踪：</label>

                                                <div class="col-xs-12 col-sm-9">
                                                    <label class="position-relative">
                                                        <input type="checkbox" class="ace" id="IsSqlTrace" name="IsSqlTrace" data-bind="checked: IsSqlTrace" />
                                                        <span class="lbl"></span>
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="space-2"></div>
                                            <div class="form-group">
                                                <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="SqlConnectName">SQL连接字符串名称：</label>

                                                <div class="col-xs-12 col-sm-9">
                                                    <div class="clearfix">
                                                        <textarea name="SqlConnectName" id="SqlConnectName" placeholder="SQL连接字符串名称" data-bind="value: SqlConnectName" class="col-xs-12 col-sm-6 limited autosize-transition" maxlength="4000" ></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="space-2"></div>
                                            <div class="form-group">
                                                <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="EnableDevelopersPanel">启用开发人员面板：</label>

                                                <div class="col-xs-12 col-sm-9">
                                                    <label class="position-relative">
                                                        <input type="checkbox" class="ace" id="EnableDevelopersPanel" name="EnableDevelopersPanel" data-bind="checked: EnableDevelopersPanel" />
                                                        <span class="lbl"></span>
                                                    </label>
                                                </div>
                                            </div>

                                            <div class="space-2"></div>
                                        </div>
                                    </div>
                                </div>

                                <div class="widget-toolbox padding-8 clearfix">
                                    <button class="btn btn-success pull-right" type="button" action="save" data-bind="click: save">
                                        <span class="bigger-110">保存</span>
                                        <i class="ace-icon fa fa-save icon-on-right"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
                <i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
            </a>
        </div>
    </div>
</form>
