<?xml version="1.0" encoding="utf-8" ?>
<PlusConfigInfo>
  <AssemblyType>MVC</AssemblyType>
  <MvcPlusType>MVCAdmin</MvcPlusType>
  <!--<PlusAdminMenus>
    <Menu>
      <Id>{00806C21-A193-4D54-BD74-0BA01E4EBC08}</Id>
      <Text>仪表盘</Text>
      <Href>/Admin/Index/Dashboard</Href>
      <IconCls>fa fa-tachometer</IconCls>
      <SortNo>-100</SortNo>
    </Menu>
    <Menu>
      <Id>{6AAB6E0C-4490-46AE-9123-112FB81C9393}</Id>
      <Text>系统设置</Text>
      <Href></Href>
      <IconCls>fa fa-cog</IconCls>
      <SubMenus>
        <Menu>
          <Text>设置</Text>
          <Href></Href>
          <IconCls>fa fa-cog</IconCls>
        </Menu>
        <Menu>
          <Text>邮箱信息配置</Text>
          <Href>/Admin/Config/MailConfigInfo</Href>
          <IconCls>fa fa-wrench</IconCls>
        </Menu>
        <Menu>
          <Text>后台信息配置</Text>
          <Href>/Admin/Config/AdminSiteConfigInfo</Href>
          <IconCls>fa fa-wrench</IconCls>
        </Menu>
        <Menu>
          <Text>应用程序配置</Text>
          <Href>/Admin/Config/SystemConfigInfo</Href>
          <IconCls>fa fa-wrench</IconCls>
        </Menu>
      </SubMenus>
    </Menu>
    <Menu>
      <Id>{311B66BF-476F-40D8-803D-E1432753A9E3}</Id>
      <Text>站点管理</Text>
      <Href></Href>
      <IconCls>fa fa-sitemap</IconCls>
      <SubMenus>
        <Menu>
          <Text>菜单管理</Text>
          <Href></Href>
          <IconCls>fa fa-th</IconCls>
        </Menu>
        <Menu>
          <Text>站点设置</Text>
          <Href>/Admin/Config/SiteConfigInfo</Href>
          <IconCls>fa fa-wrench</IconCls>
        </Menu>
        <Menu>
          <Text>站点留言管理</Text>
          <Href>/Admin/SiteLeaveMessage</Href>
          <IconCls>fa fa-wrench</IconCls>
        </Menu>
      </SubMenus>
    </Menu>
    <Menu>
      <Id>{7E8B451C-259F-4414-9794-E3AE4ADFF868}</Id>
      <Text>权限管理</Text>
      <Href></Href>
      <IconCls>fa fa-cog</IconCls>
      <SubMenus>
        <Menu>
          <Text>角色管理</Text>
          <Href>/admin/odatagrid/roles</Href>
          <IconCls>fa fa-users</IconCls>
        </Menu>
        <Menu>
          <Text>用户管理</Text>
          <Href>/admin/odatagrid/users</Href>
          <IconCls>fa fa-user</IconCls>
        </Menu>
      </SubMenus>
    </Menu>
    <Menu>
      <Text>产品管理</Text>
      <Href></Href>
      <IconCls>fa fa-tag</IconCls>
      <SubMenus>
        <Menu>
          <Text>Nuget包管理</Text>
          <Href></Href>
          <IconCls></IconCls>
        </Menu>
        <Menu>
          <Text>产品发布版本管理</Text>
          <Href>/Admin/PublishVersion</Href>
          <IconCls></IconCls>
        </Menu>
      </SubMenus>
    </Menu>
  </PlusAdminMenus>-->
  <PlusAdminMenus>
    <Menu>
      <Id>{CBCB461B-CA2C-442B-AF6A-CD9796B2C760}</Id>
      <Text>导航管理</Text>
      <Href>/Admin/SiteAdminNavigations</Href>
      <IconCls>fa fa-tachometer</IconCls>
    </Menu>
    <Menu>
      <Id>{6AAB6E0C-4490-46AE-9123-112FB81C9393}</Id>
      <Text>系统设置</Text>
      <Href></Href>
      <IconCls>fa fa-cog</IconCls>
      <SubMenus>
        <Menu>
          <Text>站点信息配置</Text>
          <Href>/Admin/Config/SiteConfigInfo</Href>
          <IconCls>fa fa-cog</IconCls>
        </Menu>
        <Menu>
          <Text>邮箱信息配置</Text>
          <Href>/Admin/Config/MailConfigInfo</Href>
          <IconCls>fa fa-wrench</IconCls>
        </Menu>
        <Menu>
          <Text>后台信息配置</Text>
          <Href>/Admin/Config/AdminSiteConfigInfo</Href>
          <IconCls>fa fa-wrench</IconCls>
        </Menu>
        <Menu>
          <Text>应用程序配置</Text>
          <Href>/Admin/Config/SystemConfigInfo</Href>
          <IconCls>fa fa-wrench</IconCls>
        </Menu>
      </SubMenus>
    </Menu>
  </PlusAdminMenus>
</PlusConfigInfo>