<?xml version="1.0" encoding="utf-8" ?>
<PlusConfigInfo>
  <AssemblyType>MVC</AssemblyType>
  <PlusAdminMenus>
    <Menu>
      <Id>{CBCB461B-CA2C-442B-AF6A-CD9796B2C760}</Id>
      <Text>导航管理</Text>
      <Href>/_Magicodes.Admin/SiteAdminNavigations</Href>
      <IconCls>fa fa-tachometer</IconCls>
    </Menu>
  </PlusAdminMenus>
</PlusConfigInfo>