<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    </configSections>
  <connectionStrings>
    <!--<add name="default" connectionString="Data Source=.;Initial Catalog=Magicodes.Models.Default;Integrated Security=True" providerName="System.Data.SqlClient" />-->
    <add name="magicodes_mvc" connectionString="Data Source=.;Initial Catalog=Magicodes.Models.Mvc;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="magicodes_blog" connectionString="Data Source=.;Initial Catalog=Magicodes.NET_Blogs;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>