@{
    ViewBag.Title = "加入我们 | Magicodes.NET";
}
<div class="m-page-title">
    <h1>
        加入我们<br>
        <small>我们需要你的加入</small>
    </h1>
</div>
<div class="m-page-main">
    <p>.NET技术交流1群：85318032。<a target="_blank" href="http://shang.qq.com/wpa/qunwpa?idkey=4c998913f2aec27dfcfabaf075377d699b415c79a5ee4dd759ecc49469bb0055"><img border="0" src="http://pub.idqqimg.com/wpa/images/group.png" alt=".NET交流1（.NET）" title=".NET交流1（.NET）"></a></p>
    <strong>加群请输入Magicodes.NET，入群后请按公告遵守此群规则。</strong>
    <h2>由于开发团队精力有限，目前框架还存在不少问题，很多功能尚未完善，如果您热衷于后端、前端框架设计，而且有业余编码的爱好，请加入我们。代码已经托管到GitHub，您可以在GitHub上获取最新源代码进行修改。</h2>
    @*<h1>加入我们。</h1>*@
    @*<p>
        目前我们主要需要以下角色加入：
        <ol>
            <li>
                前端工程师若干，熟悉RequireJs、BootStrap Ace以及knockoutjs中的任意一种的优先。
            </li>
            <li>
                开发过博客社区的熟悉MVC的工程师，因为我接下来想打造一个全新有创意的博客社区。
            </li>
            <li>
                编写过或者想学习编写T4模板的工程师。
            </li>
            <li>
                有流程开发经验工程师，因为接下来准备打造一款流程引擎。
            </li>
            <li>
                使用过或者想学习SignalR的工程师。
            </li>
            <li>
                有兴趣想学习本框架的小伙伴们，这块的朋友以编写插件为主。
            </li>
        </ol>
        <strong>注意：本项目为非盈利项目，所有的参与均为自愿参加。当然，我们也希望有小伙伴们能够提供物质支持，毕竟目前的香港服务器内存老是被撑爆。</strong>

        <br />  如果你想加入我们，请给liwq@magicodes.net发送邮件，邮件请涵盖以下内容：
        <ol>
            <li>
                昵称（如果方便，你也可以附上您的真实姓名）
            </li>
            <li>
                邮箱以及QQ
            </li>
            <li>主要从事角色（从上面6点先挑一个或多个方向）</li>
            <li>
                擅长技术
            </li>
        </ol>
        <strong>
            由于儿子最近出生了，私事很多，如果没有及时给您答复，请耐心等待。
        </strong>
    </p>*@
</div>