@{
    ViewBag.Title = "内容管理";
}
@section HeaderScripts {
    <script type="text/javascript">
        require(["magicodes"], function () {
            //初始化grid
            magicodes.grid.init(
            {
                //Grid Id
                gridId: '#dataTable',
                //目前只支持Odata协议格式的请求
                url: '/odata/CMSContent',
                //分页数
                pageSize: 10,
                //添加模型的默认值
                //TODO:先往简单的做
                addModel: {
                    ClassTypeId: '',
                    Title: '',
                    Content: '',
                    Keywords: '',
                    Sequence:'',
                    Deleted: false
                },
                //主键字段
                keyName: "Id",
                //筛选模板
                filterTemplate: "contains(Title,{#txtSearch})",
                //排序
                $orderby: "CreateTime desc",
            });
        });
    </script>
}
@*//TODO:require js报错*@
@*https://github.com/fex-team/ueditor/issues/1135*@

<script src="/Scripts/ueditor/ueditor.config.js"></script>
<script src="/Scripts/ueditor/ueditor.all.js"></script>
<script src="/Scripts/ueditor/lang/zh-cn/zh-cn.js"></script>
<script type="text/javascript">
    $(function() {
        //实例化编辑器
        window.UEDITOR_HOME_URL = "/Scripts/ueditor/";
        UE.getEditor('editor').ready(function() {
            //this是当前创建的编辑器实例
            this.setContent('内容');
        });
    });
</script>
<div class="main-container" id="main-container">
    <div>
        <div class="page-content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="table-header">
                        内容管理
                    </div>
                    <div>
                        <div class="dataTables_wrapper form-inline no-footer">
                            <div class="row">
                                <div class="col-xs-6">
                                    <button class="btn btn-app btn-light btn-xs" data-bind="click: add">
                                        <i class="ace-icon fa fa-plus bigger-160"></i>
                                        新增
                                    </button>
                                    <button class="btn btn-app btn-warning btn-xs" data-bind="click: removeSelectedRows">
                                        <i class="ace-icon fa fa-trash-o bigger-160"></i>
                                        删除
                                    </button>
                                    <button class="btn btn-app btn-light btn-xs" onclick="window.print();">
                                        <i class="ace-icon fa fa-print bigger-160"></i>
                                        打印
                                    </button>
                                </div>
                                <div class="col-xs-6">
                                    <div id="sample-table-2_filter" class="dataTables_filter">
                                        <label>
                                            <input type="search" id="txtSearch" class="form-control input-sm" aria-controls="sample-table-2" placeholder="请输入分类...">&nbsp;
                                            <button type="button" class="btn btn-purple btn-sm" data-bind="click: filter">
                                                搜索    <i class="ace-icon fa fa-search icon-on-right bigger-110"></i>
                                            </button>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <table id="dataTable" class="table table-striped table-bordered table-hover" style="margin-bottom: 0px;">
                                <thead>
                                    <tr>
                                        <th class="center">
                                            <label class="position-relative">
                                                <input type="checkbox" class="ace" data-bind="checked: isAllSelected" />
                                                <span class="lbl"></span>
                                            </label>
                                        </th>
                                        <th>分类</th>
                                        <th>标题</th>
                                        <th>关键字</th>
                                        <th>排序</th>
                                        <th class="hidden-480">状态</th>
                                        <th>
                                            <i class="ace-icon fa fa-clock-o bigger-110 hidden-480"></i>
                                            创建时间
                                        </th>
                                        <th>操作</th>
                                    </tr>
                                </thead>
                                <tbody data-bind="template: { name: 'rowsTemplate', foreach: gridViewModel.dataRows }"></tbody>
                            </table>
                            <div class="row">
                                <div class="col-xs-6">
                                    <div class="dataTables_length" id="sample-table-2_length">
                                        <label>
                                            分页数：<select name="sample-table-2_length" aria-controls="sample-table-2" class="form-control input-sm" data-bind="value: gridViewModel.pageSize">
                                                    <option value="10">10</option>
                                                    <option value="25">25</option>
                                                    <option value="50">50</option>
                                                    <option value="100">100</option>
                                                </select>
                                        </label>
                                    </div>
                                    <div class="dataTables_info" id="sample-table-2_info" role="status" aria-live="polite">当前为第<span data-bind="    text: gridViewModel.currentPageIndex()"></span>页，总共有<span data-bind="    text: getTotalPages()"></span>页</div>
                                </div>
                                <div class="col-xs-6">
                                    <ul class="pagination pull-right no-margin" data-bind="template: { name: 'pagesTemplate', replaceChildren: gridViewModel }"></ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <script id="pagesTemplate" type="text/html">
                        <li class="prev" data-bind="css: { disabled: $root.gridViewModel.currentPageIndex() <= 1 }, click: function () { $root.previousPage(); }">
                            <a href="#">
                                <i class="ace-icon fa fa-angle-double-left"></i>
                            </a>
                        </li>
                        <!-- ko foreach: $root.gridViewModel.pages -->
                        <li data-bind="css: { active: $data == $root.gridViewModel.currentPageIndex() }"><a href="#" data-bind="    text: $data, click: function () { $root.gridViewModel.currentPageIndex($data); } "></a></li>
                        <!-- /ko -->
                        <li class="next" data-bind="css: { disabled: $root.gridViewModel.currentPageIndex() >= $root.getTotalPages() }, click: function () { $root.nextPage(); }">
                            <a href="#">
                                <i class="ace-icon fa fa-angle-double-right"></i>
                            </a>
                        </li>
                    </script>
                    <script id="rowsTemplate" type="text/html">
                        <tr>
                            <td class="center">
                                <label class="position-relative">
                                    <input type="checkbox" class="ace" value="" data-bind="value: Id, checked: _selected" />
                                    <span class="lbl"></span>
                                </label>
                            </td>
                            <td class="hidden-480" data-bind="text: ClassTypeName"></td>
                            <td class="hidden-480" data-bind="text: Title"></td>
                            <td class="hidden-480" data-bind="text: Keywords"></td>
                            <td class="hidden-480" data-bind="text: Sequence"></td>
                            <td class="hidden-480">
                                <span data-bind="text: !Deleted ? '正常' : '已删除', css: Deleted ? 'label label-sm label-danger' : 'label label-sm label-success arrowed-in'"></span>
                            </td>
                            <td data-bind="text: moment(CreateTime).format('LLLL')"></td>
                            <td>
                                <div class="hidden-sm hidden-xs btn-group">
                                    <button class="btn btn-xs btn-info" data-bind="click: $root.edit.bind($data, Id)">
                                        <i class="ace-icon fa fa-pencil bigger-120"></i>
                                    </button>
                                </div>
                            </td>
                        </tr>
                    </script>
                    <script id="addTemplate" type="text/html">
                        <div>
                            <div class="row" style="margin-left: 0px; margin-right: 0px;">
                                <div class="col-xs-12">
                                    <form class="form-horizontal" id="editForm" role="form">
                                        <div class="form-group">
                                            <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="ClassTypeId">所属分类:</label>
                                            <div class="col-xs-12 col-sm-9">
                                                <div class="clearfix">
                                                    @Html.DropDownList("ClassTypeId", (IEnumerable<SelectListItem>)ViewBag.ClassTypeList, new { @class = "col-xs-12 col-sm-6", data_bind = "value:ClassTypeId" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="space-2"></div>
                                        <div class="form-group">
                                            <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="Title">标题:</label>
                                            <div class="col-xs-12 col-sm-9">
                                                <div class="clearfix">
                                                    <input type="text" name="Title" id="Title" data-bind="value: Title" placeholder="标题" class="col-xs-12 col-sm-6" required />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="space-2"></div>
                                        <div class="form-group">
                                            <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="Content">内容:</label>
                                            <div class="col-xs-12 col-sm-9">
                                                <div class="clearfix">
                                                    @*<input type="text" name="Content" id="Content" data-bind="value: Content" placeholder="内容" class="col-xs-12 col-sm-6" required />*@
                                                    
                                                </div>
                                            </div>
                                        </div>
                                        <div class="space-2"></div>
                                        <div class="form-group">
                                            <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="Keywords">关键字:</label>
                                            <div class="col-xs-12 col-sm-9">
                                                <div class="clearfix">
                                                    <input type="text" name="Keywords" id="Keywords" data-bind="value: Keywords" placeholder="关键字" class="col-xs-12 col-sm-6" required />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="space-2"></div>
                                        <div class="form-group">
                                            <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="Sequence">序号:</label>
                                            <div class="col-xs-12 col-sm-9">
                                                <div class="clearfix">
                                                    <input type="text" name="Sequence" id="Sequence" data-bind="value: Sequence" placeholder="序号" class="col-xs-12 col-sm-6" required />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="space-2"></div>
                                        <div class="form-group">
                                            <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="Deleted">是否删除:</label>
                                            <div class="col-xs-12 col-sm-9">
                                                <label class="position-relative">
                                                    <input type="checkbox" class="ace" id="Deleted" name="Deleted" data-bind="checked: Deleted" />
                                                    <span class="lbl"></span>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="space-2"></div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </script>
                    <script id="editTemplate" type="text/html">
                        <div>
                            <div class="row" style="margin-left: 0px; margin-right: 0px;">
                                <div class="col-xs-12">
                                    <form class="form-horizontal" id="editForm" role="form">
                                        <div class="form-group">
                                            <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="ClassTypeId">所属分类:</label>
                                            <div class="col-xs-12 col-sm-9">
                                                <div class="clearfix">
                                                    @Html.DropDownList("ClassTypeId", (IEnumerable<SelectListItem>)ViewBag.ClassTypeList, new { @class = "col-xs-12 col-sm-6", data_bind = "value:ClassTypeId" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="space-2"></div>
                                        <div class="form-group">
                                            <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="Title">标题:</label>
                                            <div class="col-xs-12 col-sm-9">
                                                <div class="clearfix">
                                                    <input type="text" name="Title" id="Title" data-bind="value: Title" placeholder="标题" class="col-xs-12 col-sm-6" required />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="space-2"></div>
                                        <div class="form-group">
                                            <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="Content">内容:</label>
                                            <div class="col-xs-12 col-sm-9">
                                                <div class="clearfix">
                                                    <input type="text" name="Content" id="Content" data-bind="value: Content" placeholder="内容" class="col-xs-12 col-sm-6" required />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="space-2"></div>
                                        <div class="form-group">
                                            <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="Keywords">关键字:</label>
                                            <div class="col-xs-12 col-sm-9">
                                                <div class="clearfix">
                                                    <input type="text" name="Keywords" id="Keywords" data-bind="value: Keywords" placeholder="关键字" class="col-xs-12 col-sm-6" required />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="space-2"></div>
                                        <div class="form-group">
                                            <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="Sequence">排序:</label>
                                            <div class="col-xs-12 col-sm-9">
                                                <div class="clearfix">
                                                    <input type="text" name="Sequence" id="Sequence" data-bind="value: Sequence" placeholder="排序" class="col-xs-12 col-sm-6" required />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="space-2"></div>
                                        <div class="form-group">
                                            <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="Deleted">是否删除:</label>
                                            <div class="col-xs-12 col-sm-9">
                                                <label class="position-relative">
                                                    <input type="checkbox" class="ace" id="Deleted" name="Deleted" data-bind="checked: Deleted" />
                                                    <span class="lbl"></span>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="space-2"></div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </script>
                </div>
            </div>
            <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
                <i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
            </a>
        </div>
    </div>
</div>
<script id="editor" type="text/plain" style="width:1024px;height:500px;">
</script>