@using Microsoft.AspNet.Identity
<li class="light-blue">
    <a data-toggle="dropdown" href="#" class="dropdown-toggle" style="padding: 0 0 0 5px;">
        <img class="nav-user-photo" src="/images/avatars/user.jpg" alt="" />
        <span class="user-info">
            <small>欢迎</small>
            @User.Identity.GetUserName()
        </span>
        <i class="ace-icon fa fa-caret-down"></i>
    </a>

    <ul class="user-menu dropdown-menu-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
        <li>
            <a href="#">
                <i class="ace-icon fa fa-cog"></i>
                设置
            </a>
        </li>

        <li>
            <a href="profile.html">
                <i class="ace-icon fa fa-user"></i>
                个人设置
            </a>
        </li>

        <li class="divider"></li>

        <li>

            <a href="javascript:document.getElementById('logoutForm').submit()">
                <i class="ace-icon fa fa-power-off"></i>
                退出登录
                @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right",style="display:none;" }))
                {
                    @Html.AntiForgeryToken()
                }
            </a>

        </li>
    </ul>
</li>
