@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "错误";
}

<h1 class="text-danger">错误。</h1>
<h2 class="text-danger">处理你的请求时出错。</h2>
<h2 class="text-danger">@Model.ControllerName</h2>
<h2 class="text-danger">@Model.ActionName</h2>
<h2 class="text-danger">@Model.Exception</h2>

