@{
    ViewBag.Title = "下载 | Magicodes";
}
<div class="amz-banner">
    <div class="amz-container am-scrollspy-init am-scrollspy-inview am-animation-scale-up" data-am-scrollspy="{animation: 'scale-up', repeat: false}">
        <br />
        <h2 class="detail-h2">@ViewBag.Message</h2>
    </div>
</div>