<?xml version="1.0" encoding="utf-8" ?>
<PlusConfigInfo>
  <AssemblyType>MVC</AssemblyType>
  <PlusAdminMenus>
    <Menu>
      <Text>CMS管理</Text>
      <Href></Href>
      <IconCls>fa fa-newspaper-o</IconCls>
      <SubMenus>
        <Menu>
          <Text>栏目管理</Text>
          <Href>/CMSAdmin/Admin/Channel</Href>
          <IconCls>fa fa-list</IconCls>
        </Menu>
        <Menu>
          <Text>分类管理</Text>
          <Href>/CMSAdmin/Admin/ClassType</Href>
          <IconCls>fa fa-list</IconCls>
        </Menu>
        <Menu>
          <Text>内容管理</Text>
          <Href>/CMSAdmin/Admin/Content</Href>
          <IconCls>fa fa-list</IconCls>
        </Menu>
        <Menu>
          <Text>设置</Text>
          <Href></Href>
          <IconCls>fa fa-cog</IconCls>
        </Menu>
      </SubMenus>
    </Menu>
  </PlusAdminMenus>
</PlusConfigInfo>