@{
    ViewBag.Title = "忘记密码确认";
}
<div class="amz-banner">
    <div class="amz-container am-scrollspy-init am-scrollspy-inview am-animation-scale-up" data-am-scrollspy="{animation: 'scale-up', repeat: false}">
        <h1>@ViewBag.Title</h1>
        <p>请查看你的电子邮件以重置密码。</p>
    </div>
</div>

